<plist version="1.0">
<array>
<dict><key>Word</key><string>acquiescent</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>affectionate</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>aggressive</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>alarmed</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>amazed</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>amused</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>angry</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>animosity</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>annoyed</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>anxious</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>apathetic</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>apprehensive</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>ardent</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>awestruck</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>benevolent</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>bewildered</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>bitter</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>blissful</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>bored</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>brave</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>caring</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>cautious</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>cheerful</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>competent</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>competitive</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>confident</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>contemptuous</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>contented</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>cool</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>cordial</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>cowardly</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>cross</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>curious</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>decent</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>defeated</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>defensive</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>dejected</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>delighted</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>depressed</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>devoted</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>disappointed</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>discontented</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>discouraged</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>disgusted</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>disheartened</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>dismayed</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>dispassionate</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>disrespectful</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>distrustful</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>docile</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>eager</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>earnest</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>elated</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>enjoyment</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>enthusiastic</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>envious</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>excellent</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>excited</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>expectant</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>fair</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>faithful</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>fascinated</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>fearful</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>fine</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>forceful</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>forgiving</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>fractious</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>frantic</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>friendly</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>frivolous</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>gentle</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>good</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>grateful</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>greedy</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>happy</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>hatred</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>hope</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>hopeful</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>hopeless</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>hostile</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>humble</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>humorous</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>hysterical</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>impassive</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>impatient</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>impulsive</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>indifferent</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>inspired</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>interested</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>intolerant</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>irritated</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>jealous</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>joyful</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>kind</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>lazy</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>lighthearted</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>like</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>loving</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>meek</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>melancholic</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>nervous</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>obedient</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>optimistic</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>passionate</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>pathetic</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>patient</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>peaceful</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>pessimistic</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>philosophical</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>pitiful</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>pleasant</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>pleased</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>poetical</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>pompous</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>poor</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>proud</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>provocative</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>rapturous</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>reckless</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>regretful</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>relieved</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>reluctant</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>remorseful</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>repulsed</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>resentful</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>resilient</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>restful</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>restrained</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>revolted</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>ridiculous</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>righteous</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>romantic</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>sad</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>satisfied</string><key>Score</key><integer>2</integer></dict>
<dict><key>Word</key><string>sensitive</string><key>Score</key><integer>2</integer></dict>
<dict><key>Word</key><string>shamed</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>shocked</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>shy</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>sincere</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>smug</string><key>Score</key><integer>2</integer></dict>
<dict><key>Word</key><string>spiteful</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>stimulated</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>stoical</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>stressful</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>stubborn</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>sulky</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>superior</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>surprised</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>suspicious</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>sympathetic</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>tense</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>tolerant</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>tranquil</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>triumphant</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>trusting</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>uncaring</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>uncertain</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>unkind</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>unpleasant</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>unworried</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>upset</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>vain</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>vehement</string><key>Score</key><integer>-3</integer></dict>
<dict><key>Word</key><string>warm</string><key>Score</key><integer>3</integer></dict>
<dict><key>Word</key><string>worried</string><key>Score</key><integer>-2</integer></dict>
<dict><key>Word</key><string>well</string><key>Score</key><integer>4</integer></dict>
<dict><key>Word</key><string>healthy</string><key>Score</key><integer>5</integer></dict>
<dict><key>Word</key><string>pathetic</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>weak</string><key>Score</key><integer>0</integer></dict>
<dict><key>Word</key><string>sad</string><key>Score</key><integer>0</integer></dict>
</array>
</plist>
